/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="col"] {
  color: white;
  text-align: center;
  /* debug */
  border: 1px solid black;
  min-height: 100px;
}

.container {
  max-width: 90%;
}

.ms-black-color {
  background-color: rgb(31 31 31);
}

.ms-gray-color {
  background-color: rgb(190 188 187);
}

.ms-darkblue-color {
  background-color: rgb(22 28 59);
}

footer {
  background-color: rgb(0 67 156);
}

.ms-blue-text {
  color: rgb(0 114 206);
}

.ms-gray-text {
  color: rgb(121 121 121);
}

/* HEADER */

.logo-sony img {
  width: 100px;
  margin-right: 15px;
}

.logo-sony {
  display: flex;
  justify-content: end;
}
.header-1 {
  min-height: 40px;
}

/* navbar */

/* JUMBOTRON */

.ms-jumbo {
  min-height: 700px;
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  width: 100%;
}

.col-jumbo {
  min-height: 700px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  font-size: 25px;
  text-align: start;
}

.col-jumbo h1 {
  font-size: 50px;
  margin: 20px 30px;
}

.col-jumbo p {
  margin: 20px 30px;
}

.col-jumbo img {
  width: 70%;
  margin: 20px 30px;
}

.btn-danger {
  width: 150px;
  margin: 20px 30px;
  border-radius: 30px;
}

@media screen and (max-width: 991px) {
  .ms-col-hide {
    display: none;
  }
}

/* <!-- CAROUSEL --> */

.ms-caselle img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.ms-carousel {
  margin: 40px 0;
}

/* PLAYSTATION 5 */

.ms-play5 h2 {
  color: black;
}

.ms-play5 {
  margin-top: 20px;
}

.ms-play5-text {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ms-play5-con {
  min-height: 500px;
}

.ms-play5-con p {
  font-size: 21px;
  margin: 15px 0px;
}

.btn-primary {
  width: 200px;
  margin: 20px 0px;
  border-radius: 30px;
}

.ms-play5 img {
  width: 100%;
}

/* Carousel 2 */

.ms-prod-ps5 img {
  width: 80%;
  cursor: pointer;
}

.ms-prod-ps5 h4 {
  color: rgb(97 97 97);
  font-size: 15px;
  margin-top: 10px;
}

/* IT TAKES TWO */

.ms-takes-two {
  min-height: 700px;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  width: 100%;
}
